* {
  box-sizing: border-box;
}
.col-6 {
  width: 50%;
}
.col-12 {
  width: 100%;
}
#headerbox{
  padding: 2em 1em 0.1em 2em;
  background-color: aliceblue;
}
#data {
  float: left;
  padding: 10px 100px 100px 50px;
  background-color: aquamarine;
}
#cipherTab {
  background-color: blue;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.invisible {
    display: none;
    visibility: hidden;
}

.visible {
    visibility: visible;
    position: static;
}
#decodeContentTab{
    display: none;
    visibility: hidden;
}
.choosingTabs {
  position: relative;
  margin: 2em;
  background-color: bisque;
}
.generalTabs,.appContentCipher {  
  padding: 2rem;
}
.generalTabs {
  background-color: #ececec;
}
.generalTabs:focus {
  background-color: #cccccc;
}
@media screen and (max-width: 600px) { 
  .appContentCipher{
  position: absolute;
  top: 3rem;
  border: 1px solid #ccc;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  height: 100vh;
    }
  }